{
}
@charset "utf-8";

html,body{
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	font-size: 100%;
    -webkit-font-smoothing: antialiased;

     -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
a{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-decoration: none;
	cursor: pointer;
}
a, a:link {
	cursor:pointer;
	text-decoration: none;
}
a:visited {
}
a:active, a:hover {
	text-decoration: none;
}
a:focus {
	outline: none;
}
img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	border: 0 none;
	vertical-align: top;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

/*---------------------------导航样式-------------------------*/
.header_wrapper{
	width: 100%;
	background: #fafafa;
	background: -webkit-linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	height: 70px;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
}
.header{
	width: 1160px;
	min-width: 1160px;
	margin: 0 auto;
	text-align: center;
}
.header .logo1{
	float: left;
	padding-top: 5px;
	display: inline-block;
}
.header .slog{
	width:467px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	background: url(../image/slog.png) no-repeat 0 0;
	background-size: cover;
	text-align: center;
}
.header .tel{
	float: right;
}
.header .tel span{
	font-size: 20px;
	line-height: 70px;
}
.header .tel strong{
	font-size: 25px;
	line-height: 70px;
	color: #ff9000;
	font-weight: bold;
}
/*---------------------------nav样式-------------------------*/
.nav_wrapper{
	width: 100%;
	height: 41px;
	background: #00d8ad;
	position: absolute;
}
.nav_wrapper .nav_box{
	width: 1160px;
	min-width: 1160px;
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
	height: 41px;
}
.nav_wrapper li{
	display: inline-block;
	width: 16.6%;
	float: left;
	line-height: 41px;
	box-sizing: border-box;
	border-right: 1px solid #00b38f;
	text-align: center;
	padding: 0 2px;
	cursor: pointer;
}
.fixed {  
    position: fixed;  
    top: 0;  
    width: 100%;  
    margin: 0 auto;  
    left: 0;  
    z-index: 10;  
}  
.nav_wrapper li:hover{
	background: #00b38f;
}
/*---------------------------悬浮nav样式-------------------------*/
.nav_wrappers{
	width: 80px;
	height: 650px;
	background: rgba(0, 216, 173, 0.68);
	position: fixed;
	left: 10px;
	top: 50%;
	margin-top: -325px;
	border: 1px solid rgb(0, 216, 173);
	border-radius: 165px;
	overflow: hidden;
	text-align: center;
}
.nav_wrappers li{
	font-size: 20px;
	color: #fff;
	border-bottom: 1px dashed #fff;
	line-height: 60px;
	cursor: pointer;
	width: 100%;
	height: 80px;
	word-wrap:break-word;
	display: inline-block;
}
.nav_wrappers li p{
	display: inline-block;
	width: 60%;
	margin: 0 auto;
	line-height: 20px;
	margin-top: 20px;
}
.nav_wrappers li:hover{
	background: rgba(1,184,254,1);
}
.nav_wrappers a{
	display: inline-block;
	width: 100%;
	height: 90px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	padding-top: 20px;
}
.nav_wrappers a:hover{
	background: rgba(1,184,254,1);
}
.nav_wrappers a span{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../image/nav_icon_top.png) 0 0 no-repeat;
	background-size: contain;
}
.nav_wrappers div{
	display: inline-block;
	width: 100%;
	height: 85px;
	color: #fff;
	cursor:pointer;
}
.nav_wrappers div:hover{
	background: rgba(1,184,254,1);
}
.nav_wrappers em{
	display: inline-block;
	width: 35px;
	height: 35px;
	background:url(../image/close.png) 0 0 no-repeat;
	background-size: contain;
	margin: 30px 0 15px 0;
	-webkit-transition: -webkit-transform .4s ease-out;  
	-moz-transition: -moz-transform .4s ease-out;  
	-o-transition: -o-transform .4s ease-out;  
	-ms-transition: -ms-transform .4s ease-out;  
}
.nav_wrappers div:hover em{
	-webkit-transform: rotateZ(90deg);  
	-moz-transform: rotateZ(90deg);  
	-o-transform: rotateZ(90deg);  
	-ms-transform: rotateZ(90deg);  
	transform: rotateZ(90deg);  
}



/*---------------------------banner样式-------------------------*/

.banner_wrapper{
	width: 100%;
	min-width: 1024px;
	height: 656px;
	background: url(../image/banner_bg.png);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
.title_wrap{
	width: 100%;
	height: 656px;
	background: url(../image/title.png);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
.banner_wrapper .txtbox{
	width: 1160px;
	margin: 0 auto;
	text-align: center;
}
.banner_wrapper .btn a{
	display: inline-block;
	width: 265px;
	height: 60px;
	margin: 0 auto;
	margin-right: 1%;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	background: #c71a00;
	border-radius: 10px;
	border-color: #fff;
	overflow: hidden;
	background: -webkit-linear-gradient(to top, rgba(1,150,254,1) 0%, rgba(1,209,254,1) 100%);
	background: linear-gradient(to top, rgb(0, 216, 173) 0%, rgb(0, 241, 193) 100%);
}
.banner_wrapper .btn a:hover{
	background: -webkit-linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
}


/*---------------------------条件样式-------------------------*/
.notice_wrapper {
	width: 100%;
	height: 1600px;
	position: relative;
	background: url(../image/con_bg.png) 0 0 no-repeat;
	background-size: cover;
}
.notice_wrapper .notice_box{
	padding-bottom: 65px;
	text-align: center;
}
.notice_wrapper .title_bd{
	margin: 0 auto;
	font-size: 25px;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 0px;
}
.notice_wrapper .title_bd h2{
	font-size: 52px;
	color: #545557;
	font-weight: bold;
	font-family: "Microsoft YaHei", sans-serif;
	margin-bottom: 20px;
}
.notice_wrapper .title_bd h2 i{
	width: 48px;
	height: 48px;
	display: inline-block;
	background: red;
	position: relative;
	top: 7px;
}
.notice_wrapper .title_bd h2 .left_{
	background: url(../image/left_.png) 0 0 no-repeat;
	background-size: contain;
	margin-right: 10px;
}
.notice_wrapper .title_bd h2 .right_{
	background: url(../image/right_.png) 0 0 no-repeat;
	background-size: contain;
	margin-left: 10px;
}
.notice_wrapper .title_bd h2 em{
	color: #00d8ad;
	font-weight: bold;
}
.notice_wrapper .title_bd .subtitle {
	text-align: center;
}
.notice_wrapper .title_bd .s_title{
	font-size: 20px;
}
.notice_wrapper .title_bd .danger-icon{display: inline;height: 20px;margin-top: 5px;}
.notice_wrapper .title_bd .jinjitongzhi{display: inline;height: 28px;margin-top: 0px;}
.notice_wrapper .item_all{
	width: 1160px;
	min-width: 1160px;
	margin: 0 auto;
	margin-top: 50px;
}
.item_all li{
	display: inline-block;
	width: 21%;
	text-align: center;
	margin-right: 35px;
	background: #fff;
}
.item_all li .item{
	width: 240px;
	height: 385px;
	border: 1px solid #ccc;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
}
.item_all li .item .icon{
	width: 45px;
	height: 45px;
	background:#fff;
	display: inline-block;
	margin-top: -51.5px;
	margin-left: 157px;
	border-radius: 100%;
}
.item_all li .item .item_bd{
	width: 220px;
	height: 58px;
	margin-top: 50px;
	border-top-right-radius: 58px;
	border-bottom-right-radius: 58px;
	background: -webkit-linear-gradient(to right, rgba(1,150,254,1) 0%, rgba(1,209,254,1) 100%);
	background: linear-gradient(to right, rgb(0, 181, 145) 0%, rgb(0, 234, 188) 100%);
}
.item_all li .item1 .icon{
	background-image: url(../image/icon1.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.item_all li .item2 .icon{
	background-image: url(../image/icon2.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.item_all li .item3 .icon{
	background-image: url(../image/icon3.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.item_all li .item4 .icon{
	background-image: url(../image/icon4.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.item_all li .item h3{
	font-size: 25px;
	color: #fff;
	line-height: 58px;
	text-align: left;
	padding-left: 50px;
	font-weight: bold;
}
.item_all li .item p{
	font-size: 18px;
	line-height: 32px;
	width: 70%;
	margin: 0 auto;
	margin-top: 28px;
	text-align:justify;
	text-justify:inter-ideograph;/*IE*/
	color: #696969;
}
.item_all li .item a{
	display: inline-block;
	width: 75%;
	height: 50px;
	background: #fff;
	margin-top: 25px;
	font-weight: bold;
	line-height: 50px;
	border-radius: 50px;
	color: #00d8ad;
	font-size: 20px;
	border: 1px solid #00d8ad;
	box-shadow: 0px 7px 40px -10px rgba(1,184,254,.5);
	-webkit-box-shadow: 0px 7px 40px -10px rgba(0, 216, 173, 0.64);
	-moz-box-shadow: 0px 7px 40px -10px rgba(1,184,254,.5);
}
.item_all li .item a:hover{
	background: -webkit-linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
    box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
	-webkit-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
    -moz-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
    border-color: #fff;
    color: #fff;
}
.notice_box .btn {
	display: inline-block;
	margin: 0 auto;
	width: 440px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	border-radius: 10px;
	color: #fff;
	margin-top: 70px;
	margin-right: 20px;
	background: -webkit-linear-gradient(to top, rgba(1,150,254,1) 0%, rgba(1,209,254,1) 100%);
	background: linear-gradient(to top, rgb(0, 216, 173) 0%, rgb(0, 228, 239) 100%);
}
.notice_box .btn:hover{
	background: -webkit-linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
}

.notice_wrapper .item_grup{
	width: 1160px;
	margin: 0 auto;
	min-width: 1160px;
}
.notice_wrapper .item_grup .item_bd{
	width: 100%;
	padding-left: 2%;
}
.notice_wrapper .item_grup ul{
	width: 30%;
	display: inline-block;
	margin-right: 3%;
}
.notice_wrapper .item_grup ul li{
	border:1px solid #B5B5B5; 
	height: 45px;
	margin: 15px 0;
	line-height: 45px;
	font-size: 20px;
	padding-left: 20px;
	width: 86%;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 5px 30px -10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,.3);
}
.notice_wrapper .item_grup ul li span{
	width: 130px;
	background: #B5B5B5; 
	color: #fff;
	display: inline-block;
	float: right;
	height: 45px;
	font-size: 18px;
	text-align: center;
}
.notice_wrapper .item_grup ul li:hover{
	border:1px solid #ff9000;
	box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
	-webkit-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
    -moz-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
}
.notice_wrapper .item_grup ul li:hover span{ 
	background: #ff9000;
}

/*--------------------------------------------------区域选择 时间样式------------*/
	.time_wrapper{
		width: 100%;
		height: 600px;
		background: url(../image/city_bg.png) 0 0 no-repeat;
		background-size: cover;
	}
	.time_wrapper .time_box{
		width: 1160px;
		margin: 0 auto;
	}
	.time_wrapper .title_bd{
		margin: 0 auto;
		font-size: 25px;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.time_wrapper  .title_bd h2{
		font-size: 52px;
		color: #545557;
		font-weight: bold;
		font-family: "Microsoft YaHei", sans-serif;
		margin-bottom: 20px;
	}
	.time_wrapper  .title_bd h2 i{
		width: 48px;
		height: 48px;
		display: inline-block;
		background: red;
		position: relative;
		top: 7px;
	}
	.time_wrapper  .title_bd h2 .left_{
		background: url(../image/left_.png) 0 0 no-repeat;
		background-size: contain;
		margin-right: 10px;
	}
	.time_wrapper  .title_bd h2 .right_{
		background: url(../image/right_.png) 0 0 no-repeat;
		background-size: contain;
		margin-left: 10px;
	}
	.time_wrapper  .title_bd h2 em{
		color: #00d8ad;
		font-weight: bold;
	}
	.time_wrapper  .title_bd .s_title{
		font-size: 20px;
	}
	.time_wrapper .city_box{
		width: 100%;
		height: 215px;
		overflow: hidden;
		margin-top: 30px;
	}
	.time_wrapper .city_box li{
		display: inline-block;
		width: 10%;
		padding: 10px 20px;
		margin: 10px 8px 10px 0;
		border:1px solid #ccc;
		text-align: center;
		cursor: pointer;
		box-sizing: border-box;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0px 5px 30px -10px rgba(0,0,0,.3);
		-webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,.3);
	    -moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,.3);
	}
	.time_wrapper .city_box li:hover{
		background: #ff9000;
		color: #fff;
		font-weight: bold;
		border-color: #fff;
		box-shadow: 0px 7px 40px -10px rgba(248,162,7,.9);
		-webkit-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.9);
	    -moz-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.9);
	    background: -webkit-linear-gradient(bottom, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	    background: -o-linear-gradient(bottom, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	}
	.time_wrapper .time_box .btn_box{
		text-align: center;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.time_wrapper .time_box .btn_box a{
		display: inline-block;
		margin: 0 auto;
		width: 400px;
		height: 75px;
		line-height: 75px;
		text-align: center;
		font-weight: bold;
		font-size: 25px;
		border-radius: 10px;
		color: #fff;
		margin-right: 35px;
		background: -webkit-linear-gradient(to top, rgba(1,150,254,1) 0%, rgba(1,209,254,1) 100%);
		background: linear-gradient(to top, rgb(0, 216, 173) 0%, rgb(0, 230, 230) 100%);
	}
	.time_wrapper .time_box .btn_box a:hover{
		background: -webkit-linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	}
	.time_wrapper .time_box .btn_box em{
		display: block;
		text-align: center;
		margin-top: 20px;
		font-size: 20px;
		color: #333;
	}
	.time_wrapper .input_box{
	    width: 1160px;
	    min-width: 1160px;
	    height: 154px;
	    background: #969696;
	    margin: 0 auto;
	    margin-top: 40px;
	    cursor:pointer;
	    border-radius: 20px;
	}
	.time_wrapper .input_box:hover{
		background: #5F5F5F;
	}
	.time_wrapper .input_box img{
	    float: left;
	    width: 80px;
	    margin: 36px 42px;
	}
	.time_wrapper .input_box span{
	    float: left;
	    color: #fff;
	}
	.time_wrapper .input_box span h3{
	    margin-top: 30px;
	   font-size: 28px;
	}
	.time_wrapper .input_box span p{
		font-size: 16px;
		letter-spacing: 1px;
		margin-top: 10px;
	}
	.time_wrapper .input_box form{
	    float: left;
	    display: block;
	    width: 430px;
	    height: 80px;
	    padding-top: 40px;
	    padding-left: 80px;
	}
	.time_wrapper .input_box form input{
	    width: 200px;
	    height: 35px;
	    margin: 0 9px 9px 0;
	    text-indent: 10px;
	  	font-size: 20px;
	    border: 1px solid #fff;
	    border-radius: 5px;
	}
	.time_wrapper .input_box form button{
	    width: 200px;
	    height: 38px;
	    border: 1px solid #fff;
	 	font-size: 18px;
	    background-color: #00d8ad;
	    background: -webkit-linear-gradient(to top, rgba(1,150,254,1) 0%, rgba(1,209,254,1) 100%);
	    background: linear-gradient(to top, rgba(1,150,254,1) 0%, rgba(1,209,254,1) 100%);
	    color: #fff;
	    cursor: pointer;
	    border-radius: 5px;
	    line-height: 38px;
	}
	.time_wrapper .input_box form button:hover{
	    background: -webkit-linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	}







/*---------------------------紧急通知-------------------------*/
.emergency_notice_wrap{
	width: 100%;
	height: 460px;
	position: relative;
}
.emergency_notice_wrap .emergency_notice_bd{
	width: 1160px;
	margin: 0 auto;
	min-width: 1160px;
}
.emergency_notice_wrap .title_bd{
	margin: 0 auto;
	font-size: 25px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 60px;
}
.emergency_notice_wrap .title_bd h2{
	font-size: 52px;
	color: #545557;
	font-weight: bold;
	font-family: "Microsoft YaHei", sans-serif;
	margin-bottom: 20px;
}
.emergency_notice_wrap .title_bd h2 i{
	width: 48px;
	height: 48px;
	display: inline-block;
	background: red;
	position: relative;
	top: 7px;
}
.emergency_notice_wrap .title_bd h2 .left_{
	background: url(../image/left_.png) 0 0 no-repeat;
	background-size: contain;
	margin-right: 10px;
}
.emergency_notice_wrap .title_bd h2 .right_{
	background: url(../image/right_.png) 0 0 no-repeat;
	background-size: contain;
	margin-left: 10px;
}
.emergency_notice_wrap .title_bd h2 em{
	color: #00d8ad;
	font-weight: bold;
}
.emergency_notice_wrap .title_bd .s_title{
	font-size: 20px;
	line-height: 30px;
	background-color: #ff6a00;
	padding: 10px 20px;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
}
.emergency_notice_wrap .emergency_notice_bd p{
	text-align: center;
	line-height: 30px;
}

.emergency_notice_wrap .emergency_notice_bd ul.item {
	width: 100%;
	margin: 15px auto 0;
}
.emergency_notice_wrap ul.item li{
	display: inline-block;
	width: 23.8%;
	height: 165px;
	margin-right: 1%;
	vertical-align: middle;
	position: relative;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding:15px;
}
.emergency_notice_wrap ul.item li:hover{
		box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
	-webkit-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
    -moz-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
}
.emergency_notice_wrap ul.item li .tip{
	display: inline-block;
	width: 60px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	font-weight: bold;
	background: #ff9000;
}
.emergency_notice_wrap ul.item li h3{
	font-weight: bold;
	font-size: 28px;
	color: #ff6900;
	margin: 1px 0 15px 0;
	text-align: center;
}
.emergency_notice_wrap ul.item li .imgbox{
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	height: 150px;
}
.emergency_notice_wrap ul.item li .txtbox{
	padding: 8px 5%;
	text-align: center;
	background: #EBEFF1;
	color: #333;
	border-radius: 5px;
	margin-top: 13px;
}
.emergency_notice_wrap ul.item li a{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 75%;
	height: 50px;
	background: #fff;
	margin-top: 25px;
	font-weight: bold;
	line-height: 50px;
	border-radius: 50px;
	color: #00d8ad;
	font-size: 20px;
	border: 1px solid #00d8ad;
}
.emergency_notice_wrap ul.item li a:hover{
	background: #ff9000;
    box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
	-webkit-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
    -moz-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
    border-color: #fff;
    color: #fff;
}
.emergency_notice_wrap .bmbox_wrap{
	width: 1100px;
    height: 200px;
    background: url(../image/bm_bg.png) 0 0 no-repeat;
    margin-top: 30px;
    position: absolute;
    bottom: -114px;
    left: 50%;
    margin-left: -550px;
}
.emergency_notice_wrap .bmbox_wrap .bmbox_bd{
	width: 520px;
    height: 60px;
    margin-left: 200px;
    padding-top: 50px;
    float: left;
    color: #fff;
    text-shadow: 0 4px 10px #00d8ad;
    font-size: 22px;
}
.emergency_notice_wrap .bmbox_wrap .bmbox_bd strong{
	font-weight: bold;
	font-size: 30px;
	display: inline-block;
	margin-top: 5px;
}
.emergency_notice_wrap .bmbox_wrap a{
	display: block;
	width: 230px;
    height: 55px;
    font-size: 28px;
    line-height: 55px;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    border: 2px #fff solid;
    float: left;
    text-shadow: 0 4px 10px #00d8ad;
    margin-top: 60px;
    font-weight: bold;
}
.emergency_notice_wrap .bmbox_wrap a:hover{
	background: #fff;
    border: 2px solid #fff;
    color: #ff9000;
    font-weight: bold;
    text-shadow: none;
}










/*---------------------------行业前景样式-------------------------*/
.money_wrap{
	width: 100%;
	height:900px;
	position: relative;
}
.money_wrap .money_bd{
	width: 1160px;
	margin: 0 auto;
	min-width: 1160px;
}
.money_wrap .title_bd{
	margin: 0 auto;
	font-size: 25px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 60px;
}
.money_wrap .title_bd h2{
	font-size: 52px;
	color: #545557;
	font-weight: bold;
	font-family: "Microsoft YaHei", sans-serif;
	margin-bottom: 20px;
}
.money_wrap .title_bd h2 i{
	width: 48px;
	height: 48px;
	display: inline-block;
	background: red;
	position: relative;
	top: 7px;
}
.money_wrap .title_bd h2 .left_{
	background: url(../image/left_.png) 0 0 no-repeat;
	background-size: contain;
	margin-right: 10px;
}
.money_wrap .title_bd h2 .right_{
	background: url(../image/right_.png) 0 0 no-repeat;
	background-size: contain;
	margin-left: 10px;
}
.money_wrap .title_bd h2 em{
	color: #00d8ad;
	font-weight: bold;
}
.money_wrap .title_bd .s_title{
	font-size: 20px;
	line-height: 30px;
}
.money_wrap .money_bd p{
	text-align: center;
	line-height: 30px;
}

.money_wrap .money_bd ul.item {
	width: 100%;
	margin: 15px auto 0;
}
.money_wrap ul.item li{
	display: inline-block;
	width: 23.8%;
	height: 485px;
	margin-right: 1%;
	vertical-align: middle;
	position: relative;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding:15px;
}
.money_wrap ul.item li:hover{
		box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
	-webkit-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
    -moz-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
}
.money_wrap ul.item li .tip{
	display: inline-block;
	width: 60px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	font-weight: bold;
	background: #ff9000;
}
.money_wrap ul.item li h3{
	font-weight: bold;
	font-size: 28px;
    color: #333;
    margin: 1px 0 15px 0;
}
.money_wrap ul.item li .imgbox{
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	height: 150px;
}
.money_wrap ul.item li .txtbox{
	padding: 8px 5%;
	text-align: center;
	background: #EBEFF1;
	color: #333;
	border-radius: 5px;
	margin-top: 13px;
}
.money_wrap ul.item li a{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 75%;
	height: 50px;
	background: #fff;
	margin-top: 25px;
	font-weight: bold;
	line-height: 50px;
	border-radius: 50px;
	color: #00d8ad;
	font-size: 20px;
	border: 1px solid #00d8ad;
}
.money_wrap ul.item li a:hover{
	background: #ff9000;
    box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
	-webkit-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
    -moz-box-shadow: 0px 7px 40px -10px rgba(248,162,7,.7);
    border-color: #fff;
    color: #fff;
}
.money_wrap .bmbox_wrap{
	width: 1100px;
    height: 200px;
    background: url(../image/bm_bg.png) 0 0 no-repeat;
    margin-top: 30px;
    position: absolute;
    bottom: -114px;
    left: 50%;
    margin-left: -550px;
}
.money_wrap .bmbox_wrap .bmbox_bd{
	width: 520px;
    height: 60px;
    margin-left: 200px;
    padding-top: 50px;
    float: left;
    color: #fff;
    text-shadow: 0 4px 10px #00d8ad;
    font-size: 22px;
}
.money_wrap .bmbox_wrap .bmbox_bd strong{
	font-weight: bold;
	font-size: 30px;
	display: inline-block;
	margin-top: 5px;
}
.money_wrap .bmbox_wrap a{
	display: block;
	width: 230px;
    height: 55px;
    font-size: 28px;
    line-height: 55px;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    border: 2px #fff solid;
    float: left;
    text-shadow: 0 4px 10px #00d8ad;
    margin-top: 60px;
    font-weight: bold;
}
.money_wrap .bmbox_wrap a:hover{
	background: #fff;
    border: 2px solid #fff;
    color: #ff9000;
    font-weight: bold;
    text-shadow: none;
}

/*---------------------------科目分值-------------------------*/

.score_wrap{
	width: 100%;
	height: 630px;
	background: #F6F6F6;
	background: url(../image/sco_bg.png) 0 0 no-repeat;
	background-size: cover;
}
.score_bd{
	width: 1160px;
	margin: 0 auto;
	min-width: 1160px;
}
.score_bd h3{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	padding-top: 150px;
	padding-bottom: 30px;
	color: #545557;
}
.score_bd table {
	background: #fff;
	border-collapse: collapse;  
	font-family: Futura, Arial, sans-serif;  
	border:15px solid #e7e7e7;
	width: 1159px;
	box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
	-webkit-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
    -moz-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
}  
.score_bd th, .score_bd td {  
     padding: 8px 30px;  
     text-align: center;
}
 .score_bd td.one ,.score_bd td.two {
 	font-weight: bold;
 }
.score_bd th {
	background: #00d8ad;
	border: 1px solid #dcdcdc;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}  
.score_bd tr{
	cursor: pointer;
}
.score_bd tr:hover{
	background: #F5F5F5;
}
.score_bd tr:hover .one{
	background:#fff;
}
.score_bd tr:hover .two{
	background:#fff;
}
.score_bd td {  
	border: 1px solid #dcdcdc;  
} 
.score_bd td.first a{
	font-size: 16px;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 50px;
	background: #ff9000;
	background: -webkit-linear-gradient(to top, rgba(1,150,254,1) 0%, rgba(1,209,254,1) 100%);
	background: linear-gradient(to top, rgb(0, 216, 173) 0%, rgb(0, 230, 220) 100%);
	color: #fff;
}
.score_bd td.first a:hover{
	background: #ff9000;
}
.score_bd td.second a{
	font-size: 16px;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 50px;
	background: #c2c2c2;
	color: #333;
}

/*--------------------------------------------------时间倒计时样式------------*/
	.time_wrap{
		width: 100%;
		height: 630px;
		background: #fafafa;
	}
	.time_wrap .time_box{
		width: 1160px;
		margin: 0 auto;
		text-align:center;
		padding-top:80px; box-sizing:border-box;
	}
	
		.time_wrap  .title_bd h2{
		font-size: 52px;
		color: #545557;
		font-weight: bold;
		font-family: "Microsoft YaHei", sans-serif;
		margin-bottom: 20px;
	}
	.time_wrap  .title_bd h2 i{
		width: 48px;
		height: 48px;
		display: inline-block;
		background: red;
		position: relative;
		top: 7px;
	}
	.time_wrap  .title_bd h2 .left_{
		background: url(../image/left_.png) 0 0 no-repeat;
		background-size: contain;
		margin-right: 10px;
	}
	.time_wrap  .title_bd h2 .right_{
		background: url(../image/right_.png) 0 0 no-repeat;
		background-size: contain;
		margin-left: 10px;
	}
	.time_wrap  .title_bd h2 em{
		color: #00d8ad;
		font-weight: bold;
	}
	.time_wrap  .title_bd .s_title{
		font-size: 20px;
	}
	
	
	
	
	
	
	
	.time_wrap .title_bd .s_title{
		font-size: 20px;
		line-height: 32px;
	}
	.time_wrap .timehd_box{
		width: 1160px;
		min-width: 1160px;
		margin: 0 auto;
	}
	.time_wrap .timehd_box .time{ 
		width: 430px;
		margin: 30px auto;
	}
	.time_wrap .timehd_box .time div{
		width: 180px;
		height: 180px;
		border: 1px solid #a8a8a8;
		display: inline-block;
		border-radius: 10px;
		text-align: center;
		background: #fff;
		font-size: 70px;
		line-height: 180px;
		font-weight: bold;
		color: #00d8ad;
	}
	.time_wrap .timehd_box p{
		text-align: center;
		font-size: 30px;
	}
	.time_wrap .timehd_box p a{
		padding: 10px 20px;
		background: #00d8ad;
		color: #fff;
		border-radius: 5px;
		margin-left: 20px;
		font-size: 25px;
	}
	.time_wrap .timehd_box p a:hover{
		background: -webkit-linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	}
	.time_wrap .timebd_box{
		width: 1160px;
		min-width: 1160px;
		margin: 0 auto;
	}
	.time_wrap .timebd_box p{
		text-align: center;
		padding-top: 60px;
		font-size: 18px;
	}
	.time_wrap .timebd_box p a{
		padding: 5px 10px;
		background: #00d8ad;
		color: #fff;
		margin-right: 20px;
		border-radius: 5px;
	}
	.time_wrap .timebd_box p a:hover{
		background: -webkit-linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	    background: linear-gradient(to top, rgba(236,110,18,1) 0%, rgba(255,192,0,1) 100%);
	}
	.time_wrap .input_box{
	    width: 1160px;
	    min-width: 1160px;
	    height: 154px;
	    background: #969696;
	    margin: 0 auto;
	    margin-top: 40px;
	    cursor:pointer;
	    border-radius: 154px;
	}
	.time_wrap .input_box:hover{
		background: #5F5F5F;
	}
	.time_wrap .input_box img{
	    float: left;
	    width: 80px;
	    margin: 36px 42px;
	}
	.time_wrap .input_box span{
	    float: left;
	    color: #fff;
	}
	.time_wrap .input_box span h3{
	    margin-top: 30px;
	   font-size: 28px;
	}
	.time_wrap .input_box span p{
		font-size: 16px;
		letter-spacing: 1px;
		margin-top: 10px;
	}
	.time_wrap .input_box form{
	    float: left;
	    display: block;
	    width: 430px;
	    height: 80px;
	    padding-top: 40px;
	    padding-left: 80px;
	}
	.time_wrap .input_box form input{
	    width: 200px;
	    height: 35px;
	    margin: 0 9px 9px 0;
	    text-indent: 10px;
	  	font-size: 20px;
	    border: 1px solid #fff;
	}
	.time_wrap .input_box form button{
	    width: 200px;
	    height: 38px;
	    border: 1px solid #fff;
	 	font-size: 20px;
	    background-color: #f65c0d;
	    color: #fff;
	    cursor: pointer;
	}
	.time_wrap .input_box form button:hover{
	    background-color: #ff6f37;
	}
	.time_wrap .btn_box em{
		display: block;
		text-align: center;
		margin-top: 10px;
		font-size: 20px;
		color: #333;
	}
	.time_wrap a.btn {
		display: block;
		margin: 0 auto;
		width: 440px;
		height: 75px;
		line-height: 75px;
		text-align: center;
		background: #f65c0d;
		font-size: 25px;
		border-radius: 75px;
		color: #fff;
		margin-top: 70px;
	}
	.time_wrap a.btn:hover{
		background: #ff6f37;
	}




/*---------------------------我们的课程样式-------------------------*/
.reason_wrap {
	width: 100%;
}
.reason_bd{
	width: 1160px;
	margin: 0 auto;
	min-width: 1160px;
}
.reason_bd .title_bd{
	margin: 0 auto;
	font-size: 25px;
	text-align: center;
	padding-top: 80px;
}
.reason_bd .title_bd h2{
	font-size: 52px;
	color: #545557;
	font-weight: bold;
	font-family: "Microsoft YaHei", sans-serif;
	margin-bottom: 20px;
}
.reason_bd .title_bd h2 i{
	width: 48px;
	height: 48px;
	display: inline-block;
	background: red;
	position: relative;
	top: 7px;
}
.reason_bd .title_bd h2 .left_{
	background: url(../image/left_.png) 0 0 no-repeat;
	background-size: contain;
	margin-right: 10px;
}
.reason_bd .title_bd h2 .right_{
	background: url(../image/right_.png) 0 0 no-repeat;
	background-size: contain;
	margin-left: 10px;
}
.reason_bd .title_bd h2 em{
	color: #00d8ad;
	font-weight: bold;
}
.reason_bd .title_bd .s_title{
	font-size: 20px;
	line-height: 30px;
}
.reason_bd .money_bd p{
	text-align: center;
	line-height: 30px;
}
.reason_bd .reason .heading{
	width: 1160px;
	height: 70px;
	position: relative;
	margin-top: 80px;
}
.reason_bd .reason .heading h3{
	display: inline-block;
	width: 520px;
	height: 70px;
	border-radius: 5px;
	background: #00d8ad;
	color: #fff;
	font-size: 35px;
	text-align: center;
	line-height: 70px;
	letter-spacing: 3px;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
.reason_bd .heading .line1{
	display: inline-block;
	width: 623px;
	height: 3px;
	background: #00d8ad;
	position: absolute;
	top: 18px;
	left: 520px;
}
.reason_bd .heading .line2{
	display: inline-block;
	width: 590px;
	height: 1px;
	background: #00d8ad;
	position: absolute;
	top: 28px;
	left: 520px;
}
.reason_bd .heading .bk{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #00d8ad;
	position: absolute;
	top: 16px;
	left: 1142px;
	border-radius: 100%;
}
.reason_bd .heading p{
	font-size: 25px;
	position: absolute;
	top: 32px;
	left: 573px;
	color: #838383;
	letter-spacing: 1px;
}
/*--------------------------------------老师师资*/

.reason_bd .teacher ul {margin: 0px auto;width: 1000px;}
.reason_bd .teacher li{
	width: 30%;
	margin-right: 3.3%;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-top: 60px;
} 
.reason_bd .teacher .imgbox{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.reason_bd .teacher .txtbox {
	height: 230px;
	width: 100%;
	background: #f7f7f7;
	margin-top: -60px;
	padding-top: 80px;
	border-radius: 10px;
	box-shadow: 0px 15px 40px -20px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 15px 40px -20px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 15px 40px -20px rgba(0,0,0,.3);
}
.reason_bd .teacher li .txtbox:hover{
	background: #E4F5FF;
	box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
	-webkit-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
    -moz-box-shadow: 0px 15px 40px -20px rgba(1,184,254,.5);
}
.reason_bd .teacher .txtbox h4{
	font-size: 22px;
	text-align: center;
}
.reason_bd .teacher .txtbox span{
	font-size: 20px;
	text-align: center;
	color: #989898;
	margin: 14px 0;
	display: inline-block;
}
.reason_bd .teacher .txtbox p{
	font-size: 16px;
	padding:0 20px; 
	line-height: 27px;
}
.reason_bd .teacher ul a{
	display: block;
	padding: 11px 0px;
	position: absolute;
	bottom: -23px;
	background: #00d8ad;
	border-radius: 50px;
	color: #fff;
	font-size: 20px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	width: 160px;
}
.reason_bd .teacher ul a:hover{
	background: #ff9000;
}



/*-----------------------课程样式*/

.reason_wrap .course{
	width: 100%;
	height: 1050px;
	background: #f7f7f7;
	margin-top: 0px;
	background: url(../image/patterns.jpg);
	background-repeat: repeat;
}
.reason_wrap .course .reason{
	width: 1160px;
	margin: 0 auto;
	padding-top: 100px;
}
.reason_wrap .course .heading{
	width: 1160px;
	height: 70px;
	position: relative;
	margin: 0 auto;
}
.reason_wrap .course .heading h3{
	display: inline-block;
	width: 520px;
	height: 70px;
	background: #00d8ad;
	border-radius: 5px;
	color: #fff;
	font-size: 35px;
	text-align: center;
	line-height: 70px;
	letter-spacing: 3px;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
.reason_wrap .course .heading .line1{
	display: inline-block;
	width: 623px;
	height: 3px;
	background: #00d8ad;
	position: absolute;
	top: 18px;
	left: 520px;
}
.reason_wrap .course .heading .line2{
	display: inline-block;
	width: 590px;
	height: 1px;
	background: #00d8ad;
	position: absolute;
	top: 28px;
	left: 520px;
}
.reason_wrap .course .heading .bk{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #00d8ad;
	border-radius: 100%;
	position: absolute;
	top: 16px;
	left: 1142px;
}
.reason_wrap .course .heading p{
	font-size: 25px;
	position: absolute;
	top: 32px;
	left: 573px;
	color: #838383;
	letter-spacing: 1px;
}
.course .coursebox {
	width: 1160px;
	margin: 0 auto;
	font-size: 20px;
	margin-top: 70px;
}
.course .coursebox div{
	display: inline-block;
	width: 23%;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	float: left;
	margin-right: 30.7px;
	box-sizing: border-box;
	cursor: pointer;
}
.course .coursebox div:hover{
	box-shadow: 0px 15px 40px -20px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 15px 40px -20px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 15px 40px -20px rgba(0,0,0,.3);
}
.course .coursebox h3{
	width: 100%;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px dashed #BFBFBF;
	padding: 20px 0;
	color: #fff;
}
.course .coursebox span{
	display: block;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px dashed #BFBFBF;
	padding: 14px 0;
}
.course .coursebox ul{
	margin-top: 15px;
}
.course .coursebox li {
	text-align: center;
	font-size: 16px;
}
.course .coursebox div span em{
	font-weight: bold;
}
.course .coursebox div a{
	display: inline-block;
	width: 80%;
	height: 50px;
	font-size: 22px;
	position: absolute;
	bottom: 24px;
	left: 50%;
	margin-left: -40%;
	color: #fff;
	line-height: 50px;
	background: #00d8ad;
	border-radius: 50px;
}
.course .coursebox div a:hover{
	background: #ff9000;
}
.course .coursebox .course1{
	background: #fff;
	border: 20px solid #e3f1e9;
}
.course .coursebox .course1 h3{
	background: #92d2ad;
}
.course .coursebox .course1 li{
	line-height: 25px;
}
.course .coursebox .course2{
	background: #fff;
	border: 20px solid #f9ebec;
}
.course .coursebox .course2 h3{
	background: #f5a4a8;
}
.course .coursebox .course2 .c{
	background: #92d2ad;
}
.course .coursebox .course2 ul{
	margin-top: 20px;
}
.course .coursebox .course2 li{
	line-height: 26px;
}
.course .coursebox .course3{
	background: #fff;
	border: 20px solid #f7efc3;
}
.course .coursebox .course3 h3{
	background: #f3dd6d;
}
.course .coursebox .course3 ul{
	margin-top: 40px;
}
.course .coursebox .course3 li{
	line-height: 30px;
}
.course .coursebox .course3 .c{
	background: #f5a4a8;
}
.course .coursebox .course4{
	background: #fff;
	border: 20px solid #e7f3f9;
	margin: 0;
}
.course .coursebox .course4 h3{
	background: #a3daf5;
}
.course .coursebox .course4 ul{
	margin-top: 30px;
}
.course .coursebox .course4 li{
	line-height: 28px;
}
.course .coursebox .course4 .c{
	background: #f3dd6d;
}
.course .coursebox .c{
	width: 70%;
	margin: 0 auto;
	padding: 5px 0;
}
.course .coursetip{
	width: 1160px;
	margin: 0 auto;
	height: 190px;
	border: 20px solid #eaeaea;
	margin-top: 30px;
	background: #fafafa;
	box-sizing: border-box;
	text-align: center;
	font-size: 22px;
	line-height: 45px;
	padding-top: 30px;
	border-radius: 190px;
}
.course .coursetip p span{
	font-weight: bold;
}

/*-------------------------------------服务样式-*/
.service{
	width: 100%;
}
.service .service_item{
	width: 1160px;
	margin: 60px auto 0;
	min-width: 1160px;
}
.reason_wrap .service .reason{
	width: 1160px;
	margin: 0 auto;
	padding-top: 0px;
}
.reason_wrap .service .heading{
	width: 1160px;
	height: 70px;
	position: relative;
	margin: 0 auto;
}
.reason_wrap .service .heading h3{
	display: inline-block;
	width: 520px;
	height: 70px;
	background: #00d8ad;
	border-radius: 5px;
	color: #fff;
	font-size: 35px;
	text-align: center;
	line-height: 70px;
	letter-spacing: 3px;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
.reason_wrap .service .heading .line1{
	display: inline-block;
	width: 623px;
	height: 3px;
	background: #00d8ad;
	position: absolute;
	top: 18px;
	left: 520px;
}
.reason_wrap .service .heading .line2{
	display: inline-block;
	width: 590px;
	height: 1px;
	background: #00d8ad;
	position: absolute;
	top: 28px;
	left: 520px;
}
.reason_wrap .service .heading .bk{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #00d8ad;
	border-radius: 100%;
	position: absolute;
	top: 16px;
	left: 1142px;
}
.reason_wrap .service .heading p{
	font-size: 25px;
	position: absolute;
	top: 32px;
	left: 573px;
	color: #838383;
	letter-spacing: 1px;
}
.service li{
	width: 48%;
	display: inline-block;
	height: 180px;
	margin: 10px 0;
	cursor: pointer;
	background: #F1F1F1;
	border-radius: 10px;
	margin-right: 2%;
}
.service li:hover{
	background: #E5E5E5;
}
.service li .imgbox{
	width: 130px;
	height: 130px;
	display: inline-block;
	float: left;
	margin-left: 25px;
	margin-top: 25px;
	border-radius: 100%;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid #fff;
}
.service li .txtbox {
	width: 60%;
	margin-left: 50px;
	height: auto;
	display: inline-block;
	font-size: 20px;
	float: left;
	padding-bottom: 39px;
    padding-top: 17px;
}
.service li .txtbox p{
	font-size: 18px;
	padding:0px; 
	line-height: 30px;
}
.service li h4{
	font-size: 22px;
	text-align: left;
	margin-top: 10px;
	padding-bottom: 20px;
}
.service li h4:before{
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.service li h4.s1:before{
	background: url(../image/sicon1.png) no-repeat 0 0;
	background-size: contain;
}
.service li h4.s2:before{
	background: url(../image/sicon2.png) no-repeat 0 0;
	background-size: contain;
}
.service li h4.s3:before{
	background: url(../image/sicon3.png) no-repeat 0 0;
	background-size: contain;
}
.service li h4.s4:before{
	background: url(../image/sicon4.png) no-repeat 0 0;
	background-size: contain;
}
.service li h4.s5:before{
	background: url(../image/sicon5.png) no-repeat 0 0;
	background-size: contain;
}
.service li h4.s6:before{
	background: url(../image/sicon6.png) no-repeat 0 0;
	background-size: contain;
}

/*---------------------------------------------优势样式-------------------------------------*/
.advantage_wrapper{
	width: 100%;
	height: 100px;
	background: #F4F4F4;
	margin-top: 100px;
	border-bottom: 5px solid #00d8ad;
}
.advantage_box{
	width: 1160px;
	margin: 0 auto;
	min-width: 1160px;
	line-height: 120px;
}
.advantage_wrapper li{
	display: inline-block;
	height: 47px;
	width: 30%;
	color: #333;
	 border-right: 2px solid #333;
	 line-height: 50px;
	 text-align: center;
	 cursor: pointer;
}
.advantage_wrapper li:hover{
	color: #00d8ad;
}
.advantage_wrapper li strong{
	font-weight: bold;
	font-size: 45px;
	margin: 0 10px;
}
.advantage_wrapper li span{
	line-height: 50px;
	font-size: 20px;
	position: relative;
	top: -8px;
}

/*---------------------------footer样式-------------------------*/
.footer{
	background: #383838;
	height: 350px;
	width: 100%;
}
.footer .footerbd{
	width: 1160px;
	margin: 0 auto;
	padding-top: 100px;
}
.footer .footerbd .imgbox1{
	width: 25%;
	display: inline-block;
	float: left;
}
.footer .footerbd .txtbox1{
	width: 30%;
	display: inline-block;
	font-size: 20px;
	color: #d7d7d7;
	float: left;
	margin-top: 30px;
}
.footer .footerbd .txtbox1 a{
	font-size: 20px;
	color: #d7d7d7;
}
.footer .footerbd .txtbox1 a:hover{
	color: #fff;
}
.footer .footerbd .txtbox1 p{
	margin-top: 20px;
	line-height: 30px;
}
.footer .footerbd .imgbox2{
	width: 20%;
	display: inline-block;
	float: left;
}
.footer .footerbd .txtbox2{
	width: 20%;
	display: inline-block;
	float: left;
	font-size: 20px;
	color: #d7d7d7;
	margin-top: 30px;
}
.footer .footerbd .txtbox2 p{
	line-height: 36px;
}
.footer .footerbd .txtbox2 p.tel:before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
	margin-right: 20px;
	background:url(../image/tel.png) no-repeat 0 0 ;
	background-size: contain;
}
.footer .footerbd .txtbox2 p.mail:before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
	margin-right: 20px;
	background:url(../image/mail.png) no-repeat 0 0 ;
	background-size: contain;
}


/*---------------------------弹窗样式-------------------------*/

.TC {
    display: none;
    width: 100%;
    height: 100%;
    background: url(../image/Tcbg.png);
    position: fixed;
    top: 0;
    z-index: 99999;
    left: 0;
}
.mail_wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    width:700px;
    height: 450px;
    margin-top: -255px;
    margin-left: -350px;
    background: url(../image/tc.png) no-repeat center;
    z-index: 10;
}
.mail_wrap em {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
}
.mail_wrap p {
    width: 510px;
    height: 217px;
    position: absolute;
    bottom: 56px;
    left: 97px;
}
.rightF{
	position:fixed;
	top:120px;
	right:-150px;
	z-index:11;
	cursor:pointer;
}
.leftF{
	position:fixed;
	top:115px;
	left:-100%;
	z-index:11;
	cursor:pointer;
}
.closeR {
    position: absolute;
    bottom: 10px;
    right: 43px;
    cursor: pointer;
	display:block;
	 
}
.rightF span{ width:50px; height:50px; display:block; text-align:center; background:url(../image/right_x.png) no-repeat center center;}
.closeL {
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}




